.jumbotron{
    background: linear-gradient(216deg, #941b0c, #bc3908, #ffbf00);
    background-size: 400% 400%;

    -webkit-animation: Gradient 21s ease infinite;
    -moz-animation: Gradient 21s ease infinite;
    animation: Gradient 21s ease infinite;
}
    @-webkit-keyframes Gradient {
       0%{background-position:0% 94%}
       50%{background-position:100% 7%}
       100%{background-position:0% 94%}
    }
    @-moz-keyframes Gradient {
       0%{background-position:0% 94%}
       50%{background-position:100% 7%}
       100%{background-position:0% 94%}
    }
    @keyframes Gradient {
       0%{background-position:0% 94%}
       50%{background-position:100% 7%}
       100%{background-position:0% 94%}
    }

